.bg-img{
    background-image: url('../../images/home-header-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding:230px 0;
}
.mdl-img{
    background-image: url('../../images/home-parallax1.jpg');
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding:250px 0;
  margin-top: 50px;
}