.bg-addItem{
    background-color: #b1b4b8dc;
}
.sizing{
    border: none;
    font-weight: 700;
    color: #03203C;
    outline: none;
    background-color: #ffffffb5;
}
.add-btn{
    background-color: #35ad10;
    color: aliceblue;
    border: 3px solid #ffffffb5;
    font-weight: 900;
    margin-top:22px;
   
}