.horizontal-divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  
  .horizontal-divider p {
    margin: 0 10px 2px 10px;
    color: #1e90c2;
  }
  
  .line-right,
  .line-left {
    height: 1px;
    width: 145px;
  }
  
  .line-left {
    background: #1b4388;
    background: linear-gradient(90deg, #1b4388 0%, #1e90c2 100%);
  }
  
  .line-right {
    background: #1b4388;
    background: linear-gradient(90deg, #1e90c2 0%, #1b4388 100%);
  }